<?xml version="1.0"?>
<!--
/**
 * @category    Holdenovi
 * @package     Profiler
 * @copyright   Copyright (c) 2020 Holdenovi LLC
 * @license     GPL-3.0 (see COPYING for details)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <profiler>
                <hide_lines_faster_than>10</hide_lines_faster_than>
                <log_invalid_nesting>0</log_invalid_nesting>
                <remote_call_url_template><![CDATA[http://localhost:8091/?message=%1$s:%2$s]]></remote_call_url_template>
                <scheduler_cron_expr_profiler><![CDATA[45 3 * * *]]></scheduler_cron_expr_profiler>
                <keep_days>1</keep_days>
            </profiler>
        </dev>
    </default>
</config>
