<?xml version="1.0"?>
<!--
/**
 * @category    Holdenovi
 * @package     Profiler
 * @copyright   Copyright (c) 2020 Holdenovi LLC
 * @license     GPL-3.0 (see COPYING for details)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev">
            <group id="profiler" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Holdenovi Profiler</label>
                <field id="hide_lines_faster_than" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide lines faster than</label>
                    <comment><![CDATA[in ms<br />This is the default value for the slider in the run detail view that allows you to filter fast lines.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>